#slider {
    position: relative;
	width: 100%;
}

table, th, td {
    border: 0px solid black;
}

.scrollable{
   overflow-y:scroll;
   height:100px;
   display:block;
}

#tooplate_wrapper {
	width: 800px;
	padding: 0 10px;
	margin: 0 auto;
}

#tooplate_sidebar {
	float: left;	
	width: 228px;
}

#header { 
	width: 208px;
	padding: 110px 10px 0;
	height: 93px;
	background: url(../images/tooplate_site_header.png) no-repeat top
}

#header h1 { 
	margin: 0; 
	padding: 0; 
}

#header h1 a { 
	display: block; 
	width: 180px; 
	height: 23px; 
	margin: 0 auto; 
	background: url(../images/tooplate_logo.png) top center no-repeat; 
	text-indent: -10000px; 
}

#menu {
	clear: both;
	width: 228px;
}

#content {
	float: right;
	margin-top: 60px;
	width: 502px;
	height: 576px;	
	padding: 10px;
	background: url(../images/tooplate_main.png) no-repeat top left
}

.content_section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #666
}

.last_section {
	margin: 0;
	padding: 0;
	border: 0;
}

#footer {
	clear: both;
	width: 680px;
	padding: 0 60px;
	margin: 0 auto;
	text-align: right;
	color: #828282;
}

#footer a {
	color: #ccc;
}

.scroll {
    width: 373px;
    height: 476px;
	margin: 50px 80px 50px 50px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    width: 373px;
    height: 476px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	width: 228px;
	height: 59px;
	font-size: 16px;
	font-weight: 700;
    text-decoration: none;
	text-align: center;
	color: #000;
	background: url(../images/tooplate_menu.png) no-repeat
}

ul.navigation a.last {
	height: 98px;
	background: url(../images/tooplate_menu_last.png) no-repeat top left;
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}