/* 

Template 2024 Vertiwood

http://www.tooplate.com/view/2024-vertiwood

*/

body {
	margin: 0px;
	padding: 0px;
	color: #978a71;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #181617;
	background-image: url(../images/tooplate_body.jpg);
	background-repeat: repeat;
}

a, a:link, a:visited { 
	color: #98610c; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

.orange {
	color: #C60;
}

.green {
	color: #399;
}

p { 
	margin: 0 0 15px 0; 
	padding: 0; 
}

img { border: none; }

h1, h2, h3, h4, h5, h6 { 
	color: #000; 
}

h1 { 
	font-size: 30px; 
	font-weight: normal; 
	margin: 0 0 20px 0; 
	padding: 5px 0; 
}

h2 { 
	font-size: 28px; 
	font-weight: normal; 
	padding-bottom: 20px; 
	margin: 0 0 20px 0; 
	font-weight: normal; 
	border-bottom: 1px dashed #000; 
}

h3 { 
	font-size: 20px; 
	margin: 0 0 15px 0; 
	padding: 0; 
	font-weight: normal;  
}

h4 { 
	font-size: 16px; 
	margin: 0 0 15px 0; 
	padding: 0; 
}

h5 { 
	font-size: 12px; 
	margin: 0 0 10px 0; 
	padding: 0; 
}

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { 
	display: inline-block; 
	border: 1px dashed #666; 
	padding: 4px; 
	margin-bottom: 10px; 
}

.image_fl { 
	float: left; 
	margin: 3px 20px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 20px; 
}

blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #333; }
em { color: #ab6700; }

.btn_more a {
	display: inline-block;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	padding: 2px 15px 2px 0;
	text-decoration: none;
}

.btn_more a:hover {
	padding-right: 20px;
	text-decoration: none;
}

.col_340 { width: 340px; } 
.col_400 { width: 400px; }
.col_280 { width: 280px; }

.service_list { 
	margin: 0 0 0 15px; 
	padding: 0; 
	list-style: none; 
}

.service_list li { 
	margin: 0; 
	padding: 0; 
}

.service_list li a { 
	font-size: 13px; 
	display: block; 
	height: 25px; 
	margin-bottom: 10px; 
	padding-left: 40px; 
	text-decoration: none; 
}

.service_list li .service_one { 
	background: url(images/onebit_08.png) center left no-repeat; 
}

.service_list li .service_two { 
	background: url(images/onebit_11.png) center left no-repeat; 
}

.service_list li .service_three { 
	background: url(images/onebit_17.png) center left no-repeat; 
}

.service_list li .service_four { 
	background: url(images/onebit_21.png) center left no-repeat; 
}

.service_list li .service_five { 
	background: url(images/onebit_12.png) center left no-repeat; 
}

.service_list li .service_six { 
	background: url(images/onebit_19.png) center left no-repeat; 
}

#contact_form {  
	padding: 0; 
	width: 340px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 240px; 
	padding: 5px; 
	color: #333; 
	background: #ffffff; 
	border: 1px solid #dddad6; 
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px; 
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 328px;  
	height: 80px; 
	padding: 5px;
	color: #333; 
	background: #ffffff; 
	border: 1px solid #dddad6; 
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px; 
}

#contact_form form .submit_btn {
	margin: 5px 0px;
	padding: 5px 14px;
	background: #ffffff; 
	border: 1px solid #dddad6;
}

/* gallery */
#gallery_container { 
	clear: both; 
	margin: 0; 
	padding: 0; 
} 

#gallery_container li {
	float: left;
	width: 170px;
	display: block; 
	padding: 0;
	margin: 0 15px 10px 0;
	font-size: 11px;
	color: #fff;
	text-align: center;
}

#gallery_container .odd { 
	margin: 0 0 10px 0; 
}

#gallery_container li img { 
	width: 160px; 
	height: 80px; 
	padding: 4px; 
	border: 1px dotted #333; 
	background: none; 
}
/* end of gallery */